.mainDiv,
.registerMainDiv {
  background-image: url("../assets/back.jpg");
  background-size: cover;
  background-position: top;
}

.mainDiv {
  height: 100vh;
  overflow: hidden;
  padding-top: 50px;
}

.registerMainDiv {
  padding: 50px 0;
}

.form {
  width: 30%;
  margin: 0 auto;
  padding: 3% 0 5% 0;
  background-color: var(--body-bg-color);
  border: 3px solid lightgrey;
  padding: 50px;
}

.imgContainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.avatar {
  width: 17%;
}

.ValidationError {
  color: red;
  font-size: 12px;
}

.h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form .p {
  text-align: center;
  font-size: 16px;
}

.link {
  color: green;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none !important;
}

.googleButton {
  width: 100%;
  outline: none !important;
}

.googleButton span {
  width: 100%;
  text-align: center;
  margin-right: 30px;
}

.footer {
  margin-top: 20px;
  text-align: center;
}

.footer .p {
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer .p:hover {
  color: var(--auth-button-color);
}

@media screen and (max-width: 1300px) {
  .form {
    width: 40%;
    margin-top: 0;
  }
}

@media screen and (max-width: 1000px) {
  .mainDiv {
    font-size: 14px;
  }
  .form {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .mainDiv {
    font-size: 12px;
  }
  .form {
    width: 90%;
  }
}

@media screen and (max-height: 900px) {
  .mainDiv {
    overflow: scroll;
    background-size: contain;
  }
}
