.container {
  width: 100%;
  padding: 0 1%;
}

.content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  margin-left: 250px;
}

.nonActive {
  margin-left: 0;
}

@media (max-width: 900px) {
  .content {
    margin-left: 0;
  }
}
