.footer {
  position: fixed;
  right: 30px;
  bottom: 20px;
  color: var(--p-default-color);
}

.charts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.charts canvas {
  max-width: 95%;
}

@media screen and (max-width: 1300px) {
  .footer {
    position: static;
    display: flex;
    justify-content: flex-end;
  }
  .charts canvas {
    margin-top: 20px;
  }
}
