.mainDiv {
  background-image: url("../assets/back.jpg");
  background-size: cover;
  background-position: top;
  height: 100vh;
  overflow: hidden;
  padding-top: 50px;
}

.form {
  width: 30%;
  margin: 0 auto;
  padding: 3% 0 5% 0;
  background-color: white;
  border: 3px solid #f1f1f1;
  padding: 50px;
}

.ValidationError {
  color: red;
  font-size: 12px;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none !important;
}

.button {
  background-color: #4caf50 !important;
  border-radius: 0 !important;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
  outline: none !important;
}

.h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}

.link {
  color: green;
}

.p {
  text-align: center;
}

@media screen and (max-width: 1300px) {
  .form {
    width: 40%;
    margin-top: 0;
  }
}

@media screen and (max-width: 1000px) {
  .mainDiv {
    font-size: 14px;
  }
  .form {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .mainDiv {
    font-size: 12px;
  }
  .form {
    width: 90%;
  }
}

@media screen and (max-height: 900px) {
  .mainDiv {
    overflow: scroll;
    background-size: contain;
  }
}
