.mainDiv {
  box-shadow: var(--boxShadow-main-color);
  background-color: var(--body-bg-color);
  border: 1px solid lightgrey;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  margin-bottom: 40px;
}

.button {
  padding: 10px;
  border: none;
  background-color: var(--button-main-color);
  border-radius: 3%;
  width: 13%;
  font-size: 14px;
  color: var(--main-button-text-color);
  outline: none !important;
}

.button:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.headerLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.link {
  margin-right: 15px;
}

.sidebarText {
  margin-left: 8px;
}

@media (max-width: 900px) {
  .sidebarText {
    display: none;
  }
}

@media (max-width: 600px) {
  .button {
    width: auto;
  }
  .headerLinks {
    font-size: 14px;
  }
}
