.input,
.select,
.textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none !important;
}

.invalid {
  border-color: red !important;
}

.ValidationError {
  color: red;
  font-size: 12px;
}
