.link {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--accordion-list-bg-color);
  border: 1px solid lightgray;
  padding: 18px;
}

.link:hover {
  cursor: pointer;
  background-color: var(--gray-hover-color);
}

@media (max-width: 900px) {
  .link {
    font-size: 14px;
  }
}
