.modal {
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  animation: animation 0.6s ease;
  -webkit-animation: animation 0.6s ease;
}

.modalContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.buttonGroup {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.h3 {
  font-size: 30px;
  font-weight: 500;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.button {
  padding: 10px;
  border: none;
  background-color: rgb(81, 115, 228);
  border-radius: 3%;
  width: auto;
  margin-right: 5px;
  font-size: 16px;
  color: #ffffff;
  outline: none !important;
  cursor: pointer;
}

.cancelButton {
  padding: 10px;
  border: none;
  background-color: lightgray;
  border-radius: 3%;
  color: #000;
  width: auto;
  margin-right: 5px;
  font-size: 16px;
  outline: none !important;
  cursor: pointer;
}

@-webkit-keyframes animation {
  from {
    padding-top: 0;
    opacity: 0;
  }
  to {
    padding-top: 100px;
    opacity: 1;
  }
}
@keyframes animation {
  from {
    padding-top: 0;
    opacity: 0;
  }
  to {
    padding-top: 100px;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .modalContent {
    width: 60%;
    font-size: 14px;
  }
}
