.mainDiv {
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  padding: 20px;
  height: 100%;
  background-color: inherit;
}

.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.3);
}

.close:hover {
  color: black;
  background-color: white;
}

.image {
  display: block;
  margin: 0 auto;
  min-height: 50%;
  max-height: 99%;
  animation: animation 0.7s ease;
  -webkit-animation: animation 0.7s ease;
}

@-webkit-keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .image {
    width: 100%;
  }
}
