.mainContainer {
  padding: 0 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.map {
  position: relative;
  padding-bottom: 26.25%;
  padding-top: 30px;
  height: 500px;
  overflow: hidden;
  background: transparent url(../assets/loading.gif) no-repeat center center;
}

.leftDiv,
.rightDiv {
  display: flex;
  flex-direction: column;
  background-color: var(--main-box-color);
  box-shadow: var(--boxShadow-profile);
}

.leftDiv {
  align-items: center;
  text-align: center;
  padding: 4%;
}

.rightDiv {
  justify-content: center;
  width: 60%;
  padding: 2%;
  margin-left: 2%;
}

.img {
  border-radius: 50%;
  margin-bottom: 10%;
  width: 130px;
  height: 130px;
}

.editImg {
  max-width: 300px;
  max-width: 300px;
  border: 3px solid lightgray;
}

.rightDiv .el {
  padding: 0 2%;
  display: flex;
  align-items: baseline;
  flex-flow: row wrap;
}

.p {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  font-size: 16px;
}

.h6 {
  display: flex;
  justify-content: left;
  width: 50%;
  font-size: 15px;
  font-weight: 500;
}

.h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

hr {
  margin: 1% 0;
}

@media (max-width: 990px) {
  .mainContainer {
    padding: 0;
  }
  .rightDiv {
    margin-top: 4%;
    margin-left: 0;
  }
  .leftDiv,
  .rightDiv {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .p {
    font-size: 14px;
  }
  .h6 {
    display: flex;
    justify-content: left;
    width: 50%;
    font-size: 14px;
    font-weight: 500;
  }
  .editImg {
    display: block;
    margin: 0 auto;
  }
}
