.li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--body-bg-color);
  box-shadow: var(--reply-boxShadow);
  margin-bottom: 1%;
}

.avatar {
  border-radius: 50%;
  margin-left: 2%;
}

.comment {
  width: 100%;
  margin-left: 5%;
  margin-right: 2%;
}

.username {
  color: #82b440;
}

.hr {
  color: lightgrey;
}
