.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #697cc9;
  color: #fff;
  transition: all 0.3s;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100;
}

.sidebarHeader {
  padding: 25px;
  background: #596bbd;
}

.p {
  color: #fff;
  padding: 20px;
  background: #6476c0;
}

.h3 {
  font-size: 32px;
  padding: 10px;
  letter-spacing: 10px;
  text-align: center;
}

.a {
  padding: 10px;
  font-size: 1.1em;
  display: flex;
  cursor: pointer;
}

.a:hover {
  color: #7386d5;
  background: #fff;
}

.ul .li {
  list-style: none;
}

.toggledMenu .a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

.toggledMenu .a:hover {
  color: #7386d5;
  background: #fff;
}

.submenuIcon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.toggledMenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out;
}

.toggledMenu.activeMenu {
  max-height: 500px;
}

.active {
  margin-left: 0;
}

.nonActive {
  margin-left: -250px;
}

@media (max-width: 900px) {
  .sidebar {
    margin-left: -250px;
  }
  .active {
    margin-left: -250px;
  }
  .nonActive {
    margin-left: 0;
  }
}
